<?xml version="1.0" encoding="UTF-8"?>
<web-app
	id="planave-intranet"
	version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" >

	<display-name>Mult DataSource - SAAS </display-name>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:services-context.xml</param-value>
	</context-param>
    

        
<!--    <context-param>-->
<!--     <param-name>shiroConfigLocations</param-name>-->
<!--     <param-value>shiro.ini</param-value>-->
<!--   </context-param>-->

 
	
      
	<filter>
		<filter-name>encoding-filter</filter-name>
		<filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>encoding-filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	
	
	<filter>
		<filter-name>dominio-filter</filter-name>
		<filter-class>org.imaginary.conceito.web.DominioFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>dominio-filter</filter-name>
		<url-pattern>/controle/*</url-pattern>
	</filter-mapping>
	
	
	
	
	<!--====================== Monitoring ===================================-->
	
		<!-- Monitor filter -->
		<filter>
			<filter-name>monitoring</filter-name>
			<filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
			<init-param>
				<param-name>storage-directory</param-name>
				<param-value>logs/monitoring</param-value>
			</init-param>
			<init-param>
				<param-name>url-exclude-pattern</param-name>
				<param-value>(/images/.*|/js/.*|/styles/.*)</param-value>
			</init-param>
<!-- 			<init-param> -->
<!-- 				<param-name>admin-emails</param-name> -->
<!-- 				<param-value>valterlobo@gmail.com</param-value> -->
<!-- 			</init-param> -->
<!-- 			<init-param> -->
<!-- 				<param-name>mail-session</param-name> -->
<!-- 				<param-value>MailSession</param-value> -->
<!-- 			</init-param> -->
<!-- 			<init-param> -->
<!-- 				<param-name>mail-periods</param-name> -->
<!-- 				<param-value>week,month</param-value> -->
<!-- 			</init-param> -->
		</filter>
		<filter-mapping>
			<filter-name>monitoring</filter-name>
			<url-pattern>/*</url-pattern>
		</filter-mapping>
		<listener>
			<listener-class>net.bull.javamelody.SessionListener</listener-class>
		</listener>

 <!--  fim monitorar  -->
	
   
   	<servlet>
        <servlet-name>controle</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
   </servlet>
    

		
    <servlet-mapping>
        <servlet-name>controle</servlet-name>
        <url-pattern>/controle/*</url-pattern>
    </servlet-mapping>
    
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	
	
	
   
	
	

</web-app>